* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

#app {
    background-color: #ffe766;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Comfortaa;
    color: #483698;
    margin-bottom: 25px;
    font-weight: 700;
}

h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 12px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 550px;
    width: 800px;
    border-radius: 20px;
    padding: 30px 0 30px 60px;
}


.img {
    margin-top: auto;
    margin-bottom: auto;
}

.img img {
    width: 400px;
    height: 280px;
}

input {
    border-radius: 2px;
    border: 1px solid #483698;
    margin-bottom: 25px;
    width: 200px;
    height: 28px;
}

.nome {
    width: 300px;
}

input::placeholder {
    font-size: 10px;
    padding-left: 10px;
}

.select {
    display: flex;
}

.select-input {
    width: 140px;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #483698;
}

.cidade {
    margin-left: 20px;
}

button {
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #483698;
    background-color: #483698;
    width: 300px;
    height: 28px;
    color: #fff;
    font-size: 14px;
    font-family: Comfortaa;
}

button:hover {
    cursor: pointer;
    border: 1px solid #483698;
    background-color: #fff;
    color: #483698;
    font-size: 14px;
}


.barra-container {
    display: flex;
}

.barra-container p {
    padding-top: 20px;
    padding-left: 15px;
    color: #483698;
    font-weight: bold;
    font-size: 12px;
}

.barra {
    font-family: Comfortaa;
    font-weight: bold;
    width: 250px;
    height: 15px;
    color: #483698;
    margin-top: 20px;
    text-align: right;
    border-radius: 3px;
    background: linear-gradient(to right, #483698 0%, #483698 50%, #dedede 50%, #dedede 100%);
}

@media(max-width: 800px) {
    #app {
        height: auto;
    }

    h1 {
        font-size: 30px;
    }

    .imgpg1 {
        display: none;
    }

    .container {
        height: 100%;
        width: 90vw;
    }

    .barra-container p {
        padding-left: 30px;
    }

    button {
        width: 100%;
    }
}

@media(max-width: 500px) {
    #app {
        height: 100vh;
    }

    .imgpg1 {
        display: none;
    }

    .container {
        padding: 20px;
        width: 100vw;
        height: 90%;
    }

}