<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- importação do VUE -->
    <script src="../vue/vue.js"></script>
</head>

<body>
    <div id="root">
        <input v-model="novoNome">
        <div>
            <button @click="adicionar">Adicionar</button>
        </div>
        <hr>
        <ul>
            <li v-for="nome in nomes">{{ nome | capitalizar }}</li>
        </ul>

        <hr>
        <ul>
            <li v-for="nome in nomes">{{ nome }}</li>
        </ul>

    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                novoNome: '',
                nomes: []
            },
            methods: {
                adicionar: function () {
                    this.nomes.push(this.novoNome)
                    this.novoNome = ''
                }
            },
            filters: {
                capitalizar: function (value) {
                    return value.toUpperCase()
                }
            }
        })

    </script>
</body>

</html>