@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(70deg, #1d1c1c 30%, #1f018a 70%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}

.logo {
    height: 4.5rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.link {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 1.125rem;
}

.corpo {
    margin-bottom: 3rem;
    border-top: 0.4px solid #fff2e7; 
}

.parte1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 3.75rem;
    color: #fff2e7;
}

.h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ECD6C4;
}

.botao {
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.imagem-corpo {
    height: 21.8rem;
    margin: 2.5rem;
}

.parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;    
}

.h3 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

.imagem-rodape {
    height: 150px;
    display: block;
    margin: 0 auto;
}