body {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

p {
  text-align: justify;
  padding: 0 10px;
}

.lista__footer {
  list-style: none;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: brown;
}

li {
  padding: 10px;
}