<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>VueJS-2022-Udemy</title>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <ul>
            <!-- <li v-for="curso in cursos">{{ curso }}</li> -->
            <!-- <li v-for="curso in cursos" v-text="curso"></li> -->
            <li v-for="(curso, index) in cursos">{{ index }} - {{ curso }}</li>
        </ul>
    </div>
</body>
<script>

    const vm = new Vue({
        el: '#app',
        data: {
            cursos: ['Laravel', 'Web Completo', 'Banco de Dados', 'Solid', 'Angular']
        },
        methods: {

        }
    })

</script>

</html>