
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=DM+Sans:wght@400;500;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.geral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 375px;
  max-width: 1440px;
  margin-top: 90px;

}

.caixa1 {
  width: 310px;
  height: 500px;
  border: 1px solid hsl(31, 77%, 52%);
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
  padding: 50px;
}

.caixa2 {
  width: 310px;
  height: 500px;
  border: 1px solid hsl(184, 100%, 22%);
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
}

.caixa3 {
  width: 310px;
  height: 500px;
  border: 1px solid hsl(179, 100%, 13%);
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
  padding: 50px;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  color: #ffffff;
  margin-top: 30px;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-top: 30px;
  line-height: 1.7;
}

button {
  font-size: 15px;
  padding: 15px 32px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 0px;
  margin-top: 70px;
}

.botao1 {
  color: hsl(31, 77%, 52%);
  cursor: pointer;
}

.botao2 {
  color: hsl(184, 100%, 22%);
  cursor: pointer;
}

.botao3 {
  color: hsl(179, 100%, 13%);
  cursor: pointer;
}

.botao1:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid #ffffff;
  color: #ffffff
}

.botao2:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid #ffffff;
  color: #ffffff
}

.botao3:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid #ffffff;
  color: #ffffff
}

