
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background: rgb(250, 249, 247);
}

.cabecalho {
  text-align: center;
  margin-top: 70px;
  width: 550px;
  height: 100%;
  background: rgb(250, 249, 247);
}

h1 {
  font-weight: 200;
  font-size: 38px;
}

h2 {
  font-size: 38px;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

h3 {
  font-size: 20px;
}

.mae p {
  font-size: 14px;
}

.pai {
  background: rgb(250, 249, 247);
  padding: 70px 0 50px;
  display: flex;
  justify-content: center;
}

.mae {
  display: flex;
  align-items: center;
  gap: 25px;
}

.esquerda {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top: 4px solid hsl(180, 62%, 55%);
}


.cima {
  background: #ffffff;
  margin-bottom: 25px;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.baixo {
  background: #ffffff;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.direita {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top: 4px solid hsl(212, 86%, 64%);
}

.esquerda, .direita, .cima, .baixo {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 30px;
  box-shadow: 10px 10px 10px #cccccc;
}

.esquerda img {
  margin-top: 30px;
  margin-left: 230px;
}

.direita img {
  margin-top: 30px;
  margin-left: 230px;
}

.cima img {
  margin-top: 30px;
  margin-left: 230px;
}

.baixo img {
  margin-top: 30px;
  margin-left: 230px;
}


@media screen and (max-width: 900px) {
    
  .mae {
    display: block;
  }
  
  .esquerda, .baixo {
    margin-bottom: 20px;
  }
  .cabecalho {
    width: 370px;
    height: 100%;

  }
  
  h1, h2 {
    font-size: 30px;
  }
 
  .cabecalho p {
    font-size: 18px;
  }

  .baixo p {
    padding-right: 50px;
    line-height: 1.8;
  }
  .direita p {
    padding-right: 50px;
    line-height: 1.8;
  }
  .cima p {
    line-height: 1.8;
  }

  .esquerda p {
    line-height: 1.8;
  }

}
