* {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

/*
#primeiro {
  border: 1px solid green;
  margin: 30px;
}

.segundo {
  border: 5px solid black;
  padding: 15px;
}
*/

nav span {
  color: indigo;
  cursor: pointer;
  transition: 300ms;
}

nav span:hover {
  text-decoration: underline;
  color: black;
  background-color: chocolate;
}

#primeiro,
.segundo,
.navigation {
 border: 5px solid black;
 padding: 15px;
 margin: 5px;
}

.segundo > p {
  color: lawngreen;
}

.segundo > div {
  display: block !important;
}

#primeiro p:nth-child(3) {
  color: lawngreen;
}