@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.logomenu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(202, 202, 247);
  align-items: center;
  height: 150px;
}

.logomenu img {
  width: 10rem;
  height: auto;
  margin-left: 50px;
}

.linkmenu a {
  text-decoration: none;
  color:rgb(0, 51, 153);
}

.linkmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}


.geral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 375px;
  max-width: 1440px;
  margin-top: 50px;
}

.geral img {
  width: 200px;
  height: auto;
}

.caixa1, .caixa2, .caixa3 {
  width: 310px;
  height: 650px;
  border: 1px solid rgb(0, 51, 153);
  background-color: rgb(0, 51, 153);
  border-radius: 10px;
  padding: 50px;
}


.caixa3 h2 {
  margin-top: 75px;
}

h2 {
  font-size: 21px;
  color: #ffffff;
  margin-top: 30px;
}

p {
  font-size: 15px;
  color: #ffffff;
  margin-top: 30px;
  line-height: 1.7;
}

button {
  font-size: 15px;
  padding: 15px 32px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 0px;
  margin-top: 70px;
}

.botao3 {
  margin-top: 45px;
}

.botao1, .botao2, .botao3 {
  color: rgb(0, 51, 153);
  cursor: pointer;
}

.botao1:hover, .botao2:hover, .botao3:hover {
  background-color: rgb(0, 51, 153);
  border: 2px solid #ffffff;
  color: #ffffff
}

.mapa {
  padding: 3em 0;
  text-align: center;
}

.mapa-conteudo {
  width: 800px;
  margin: 0 auto;
}

.mapa h3 {
  font-size: 25px;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

footer {
  text-align: center;
  background: url("./images/rodape.png");
  padding: 50px 0 0px 0;
  background-size: 100% 100%;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 90px;
}

.formulario {
  display: flex;
  justify-content: right;
}

form {
  opacity: 0;
  transition: opacity 1s linear;
  background-color: #FFFFFF;
  border-radius: 10px;
  float: right;
  padding: 20px;
  margin-right: 50px;
  position: absolute;
  bottom: 10px;
  margin-top: 40px;
}

.mostrar-formulario{
  opacity: 1;
}

input {
  display: block;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin-bottom: 20px;
  padding-left: 10px;
}

textarea {
  display: block;
  height: 80px;
  width: 250px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.titulo-formulario {
  font-size: 24px;
  color: #252B42;
  margin-bottom: 30px;
  text-align: center;
}

label {
  font-size: 14px;
  color: #252B42;
}

.buttonformulario {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #00095d;
  color: #FFFFFF;
}


@media screen and (max-width: 900px) {
    
  .mapa-conteudo {
    width: 400px;
  }
  .mapa p{
    font-size: 18px;
  }
  .logomenu img {
    width: 6.9rem;
    height: auto;
    margin-left: 20px;
  }

  .linkmenu {
    font-size: 1.1rem;
  }
}
