@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}



.logomenu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 51, 153);
  align-items: center;
  height: 150px;
  background: url("./images/blue-banner.jpg");
}

.logomenu img {
  width: 10rem;
  height: auto;
  margin-left: 50px;
}

.linkmenu a {
  text-decoration: none;
  color: #FFFFFF;
}

.linkmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}


.geral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.geral img {
  width: 200px;
  height: auto;
}

.caixa1, .caixa2, .caixa3 {
  width: 310px;
  height: 650px;
  
  background: linear-gradient(60.15deg, #5c5eff 16.62%, rgb(0, 51, 153) 65.61%);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  margin-inline: 20px;
}


.caixa3 h2 {
  margin-top: 75px;
}

h2 {
  font-size: 21px;
  color: #ffffff;
  margin-top: 30px;
}

p {
  font-size: 15px;
  color: #ffffff;
  margin-top: 30px;
  line-height: 1.7;
}

button {
  font-size: 15px;
  padding: 15px 32px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 0px;
  margin-top: 70px;
}

.botao3 {
  margin-top: 45px;
}

.botao1, .botao2, .botao3 {
  color: rgb(0, 51, 153);
  cursor: pointer;
}

.botao1:hover, .botao2:hover, .botao3:hover {
  background-color: rgb(0, 51, 153);
  border: 2px solid #ffffff;
  color: #ffffff
}

.mapa {
  padding: 3em 0;
  text-align: center;
}

.mapa-conteudo {
  width: 800px;
  margin: 0 auto;
}

.mapa h3 {
  font-size: 25px;
  color: rgb(0, 51, 153);
  margin: 0 0 1em;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 51, 153);
  font-size: 20px;
  width: auto;
}

.sobre {
  padding: 1em 0;
  text-align: center;
  font-size: 25px;
  color: rgb(0, 51, 153);
  display: flex;
  justify-content: center;
}


.sobre p {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 51, 153);
  font-size: 20px;
  width: 70vw;
}



.formulario {
  display: flex;
  justify-content: right;
}

form {
  opacity: 0;
  transition: opacity 1s linear;
  background-color: #d2d6f7;
  border-radius: 10px;
  float: right;
  padding: 20px;
  margin-right: 50px;
  position: absolute;
  bottom: 10px;
  margin-top: 40px;
}

.mostrar-formulario{
  opacity: 1;
}

input {
  display: block;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin-bottom: 20px;
  padding-left: 10px;
}

textarea {
  display: block;
  height: 80px;
  width: 250px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.titulo-formulario {
  font-size: 24px;
  color: #252B42;
  margin-bottom: 30px;
  text-align: center;
}

label {
  font-size: 14px;
  color: #252B42;
}

.buttonformulario {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #00095d;
  color: #FFFFFF;
}


footer {
  text-align: center;
  background: url("./images/rodape.png");
  padding: 50px 0 0px 0;
  background-size: 100% 100%;
}


:root {
  --facebook: #4267b2;
  --twitter: #1da1f2;
  --instagran: #e1306c;
  --youtube: #ff0000;
  --whatsapp: #34af23;
}


.icones {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.icones h5 {
  font-size: 25px;
  color: rgb(0, 51, 153);
  margin-bottom: 20px;
}


.container .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 7px;
  background-color: #fff;
  overflow: hidden; 
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 1s ease-out;
}

.container .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50px;
  transition: all 1s ease-out;
}

.container .button:hover{
  width: auto;
}

.container .button:hover .icon{
  color: #fff;
}

.container .button:nth-child(2):hover .icon{
  background-color: var(--facebook);
}

.container .button:nth-child(3):hover .icon{
  background-color: var(--twitter);
}

.container .button:nth-child(4):hover .icon{
  background-color: var(--instagran);
}

.container .button:nth-child(5):hover .icon{
  background-color: var(--youtube);
}

.container .button:nth-child(6):hover .icon{
  background-color: var(--whatsapp);
}


.container .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 1s ease-out;
}

.container .button span{
  font-size: 25px;
  font-weight: 500px;
  margin-left: 10px;
  margin-right: 15px;
  transition: all 1s ease-out;
}

.container .button:nth-child(2):hover span{
  color: var(--facebook);
}

.container .button:nth-child(3):hover span{
  color: var(--twitter);
}

.container .button:nth-child(4):hover span{
  color: var(--instagran);
}

.container .button:nth-child(5):hover span{
  color: var(--youtube);
}

.container .button:nth-child(6):hover span{
  color: var(--whatsapp);
}






.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 90px;
}

@media screen and (max-width: 900px) {
    
  .caixa1, .caixa2 {
    margin-bottom: 20px;
  }
  
  .mapa-conteudo {
    width: 400px;
  }
  .mapa p{
    font-size: 18px;
  }
  .logomenu img {
    width: 6.9rem;
    height: auto;
    margin-left: 20px;
  }

  .linkmenu {
    font-size: 1.1rem;
  }

  .sobre p {
    font-size: 18px;
    
  }
}
